body {
    background-color: mediumpurple;
    justify-content: center;
}

#todo-title span {
    background-color: rgb(0, 247, 255);
    margin: 5% 35% 5% 35%;
}

#app {
    text-align: center;
   background-color: white;
   width: 25%;
   min-height: 600px;
   border-radius: 20px;
   padding: 2%;
   margin-top: 5cm;
   margin-left: 25cm;
}

#todo-submit {
    padding: 10px 10px;
}
input {
    width: 7cm;
    height: 1cm;
}

#todo-output {
    /* margin-top: 1%; */
    justify-content: center;
    display: inline-flexbox;
    width: fit-content;
    margin-inline-start: 7cm;
   
    
}